echo "# www.adball.tech" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote add origin https://github.com/amaapp333/www.adball.tech.git
git push -u origin main
